
{{!-- The footer at the very bottom of the screen --}}
{{!-- <footer class="site-footer outer">
		<div class="site-footer-content inner">
				<section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
				<span>本博客基于Ghost自带默认主题开发，所有素材皆来自于互联网，若有版权问题，请联系本人</span>
				<nav class="site-footer-nav">
						<a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
				</nav>
		</div>
</footer> --}}

<footer class="blog-footer-new">
	<div class="footer-container inner">
		<div class="declaration">基于Ghost博客最新(英语)版 <a href="https://github.com/mrbin1573/hackSeason" target="_blank">hackSeason主题</a> 搭建，素材均来自于互联网，若有版权问题，可 <a href="https://jq.qq.com/?_wv=1027&k=5lq4CQD" target="_blank">联系本人</a> 解决</div>
		<div class="friend-link">
			<span>友情链接：</span>
			<a href="http://hackbin.cn/" target="_blank">杉木博客</a>
		</div>
		<div class="copyright">
			<span><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} <span id="foot-copy-right"></span></span>
			<span id="busuanzi_container_site_uv">&nbsp;&nbsp;&nbsp;本站总访问量 <span id="busuanzi_value_site_uv"></span> 次</span>
		</div>
	</div>
</footer>
	{{!-- 访问量统计 --}}
	<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>