<nav class="site-nav">
    <div class="site-nav-left container">
        {{#if @blog.navigation}}
            <a class="brand-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img class="logi-img" src="{{@blog.logo}}"/>
                {{/if}}
                <span class="site-nav-logo">{{@blog.title}}</span>
            </a>
            {{!-- {{navigation}} --}}
            <ul class="nav" role="menu">
                <li oncontextmenu="toBack()" class="nav- nav-current" role="menuitem">
                    <a href="{{@blog.url}}">首页</a>
                </li>
                <span class="menu-add-box">
                    {{!-- <li class="nav- nav-current" role="menuitem">
                        <a href="javascript:;">前端</a>
                        <div class="sub-menu-box">
                            <div class="inner sub-content">
                                <div class="left-pic middle-center">
                                    <img src="http://hackbinimg.luokangyuan.com/menu/qianduan.png" alt="" srcset="">
                                </div>
                                <div class="right-content">
                                    <a href="http://w3more.cn/tag/html/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/html.png" alt="" srcset="">
                                        </div>
                                        <span>HTML</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/css/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/css.png" alt="" srcset="">
                                        </div>
                                        <span>CSS</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/javascript/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/js.png" alt="" srcset="">
                                        </div>
                                        <span>JavaScript</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/jquery/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/jq.png" alt="" srcset="">
                                        </div>
                                        <span>jQuery</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/vue/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/vue.png" alt="" srcset="">
                                        </div>
                                        <span>vue</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/node/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/node.png" alt="" srcset="">
                                        </div>
                                        <span>node</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/angular/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/ng.png" alt="" srcset="">
                                        </div>
                                        <span>angular</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav- nav-current" role="menuitem">
                        <a href="http://luokangyuan.com/" target="_blank">后端</a>
                        <div class="sub-menu-box">
                            <div class="inner sub-content">
                                <div class="left-pic middle-center">
                                    <img src="http://hackbinimg.luokangyuan.com/menu/houtai.png" alt="" srcset="">
                                </div>
                                <div class="right-content">
                                    <a href="http://w3more.cn/tag/html/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/java.png" alt="" srcset="">
                                        </div>
                                        <span>Java</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/css/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/mybatis.png" alt="" srcset="">
                                        </div>
                                        <span>Mybatis</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/javascript/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/spring.png" alt="" srcset="">
                                        </div>
                                        <span>Spring</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/jquery/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/springBoot.png" alt="" srcset="">
                                        </div>
                                        <span>SpringBoot</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/vue/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/springCloud.png" alt="" srcset="">
                                        </div>
                                        <span>SpringCloud</span>
                                    </a>
                                    <a href="http://w3more.cn/tag/node/" class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/linux.png" alt="" srcset="">
                                        </div>
                                        <span>Linux</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav- nav-current" role="menuitem">
                        <a href="javascript:;">资源</a>
                        <div class="sub-menu-box">
                            <div class="inner sub-content">
                                <div class="left-pic middle-center">
                                    <img src="http://hackbinimg.luokangyuan.com/menu/ziyuan.png" alt="" srcset="">
                                </div>
                                <div class="right-content">
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/html.png" alt="" srcset="">
                                        </div>
                                        <span>HTML</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/css.png" alt="" srcset="">
                                        </div>
                                        <span>CSS</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/js.png" alt="" srcset="">
                                        </div>
                                        <span>JavaScript</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/jq.png" alt="" srcset="">
                                        </div>
                                        <span>jQuery</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/node.png" alt="" srcset="">
                                        </div>
                                        <span>node</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/ng.png" alt="" srcset="">
                                        </div>
                                        <span>angular</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav- nav-current" role="menuitem">
                        <a href="javascript:;">规范</a>
                        <div class="sub-menu-box">
                            <div class="inner sub-content">
                                <div class="left-pic middle-center">
                                    <img src="http://hackbinimg.luokangyuan.com/menu/guifan.png" alt="" srcset="">
                                </div>
                                <div class="right-content">
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/html.png" alt="" srcset="">
                                        </div>
                                        <span>HTML</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/css.png" alt="" srcset="">
                                        </div>
                                        <span>CSS</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/js.png" alt="" srcset="">
                                        </div>
                                        <span>JavaScript</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/jq.png" alt="" srcset="">
                                        </div>
                                        <span>jQuery</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/vue.png" alt="" srcset="">
                                        </div>
                                        <span>vue</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/node.png" alt="" srcset="">
                                        </div>
                                        <span>node</span>
                                    </a>
                                    <a class="mune-item">
                                        <div class="img-box middle-center">
                                            <img src="http://hackbinimg.luokangyuan.com/menu/ng.png" alt="" srcset="">
                                        </div>
                                        <span>angular</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav- nav-current" role="menuitem">
                        <a href="http://w3more.cn/tag/sui-bi/">随笔</a>
                    </li> --}}
                </span>
                <li class="nav- nav-current middle-center" id="search-menu" role="menuitem">
                    <a href="javascript:;" class="icon-search"></a>
                    <div class="sub-menu-box">
                        <div class="inner sub-content">
                            <div class="left-pic middle-center no-border">
                                <img data-src="http://hackbinimg.luokangyuan.com/menu/search1.png" alt="" srcset="">
                            </div>
                            <div class="right-content">
                                <form>
                                    <input class="search-input"  id="search-field" autocomplete="off" type="text" placeholder="请输入搜索内容">
                                    {{!-- <input type="submit" value="search"> --}}
                                </form>
                                <section id="results" hidden class="search-result-box">
                                    <h5 class='res-title' hidden>共 <span id="res-count">4</span> 篇相关文章</h5>
                                    {{!-- <a id="gh-5b584226cd87821cbcc4e5fa" class="search-res-item" href="/ce-shi/">
                                    测试
                                        <span class="search-post-content">
                                            (水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国水电费感受到法国)
                                        </span>
                                    </a> --}}
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {{/if}}
    </div>
</nav>