{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<header class="site-header outer tag-head-bg" 
{{#if feature_image}}
    style="background-image: url({{feature_image}})"
{{else}}
    style="background-image: url(http://hackbinimg.luokangyuan.com/defaultBg.jpg)"
{{/if}}>
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{name}}</h1>
            {{#if description}}
                <h2 class="site-description">
                    {{description}}
                </h2>
            {{/if}}
            <h2 class="tag-posts">共 {{plural ../pagination.total empty='0 篇文章' singular='% 篇文章' plural='% 篇文章'}}</h2>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
            {{ pagination}}
        </div>
        <div class="page-load-status">
            <p class="infinite-scroll-request">
                {{#if @blog.icon}}
                    <img  class="status-img loading" src="{{@blog.icon}}" alt="{{@blog.title}}" />
                {{else}}
                    <img class="status-img loading" src="http://pcqg5j51d.bkt.clouddn.com/20180731220789/logoblue.png" alt="" srcset="">
                {{/if}}
                加载中...
            </p>
            <p class="infinite-scroll-last">
                {{#if @blog.icon}}
                    <img  class="status-img" src="{{@blog.icon}}" alt="{{@blog.title}}" />
                {{else}}
                    <img class="status-img" src="http://pcqg5j51d.bkt.clouddn.com/20180731220789/logoblue.png" alt="" srcset="">
                {{/if}}
                没有更多文章了
            </p>
            <p class="infinite-scroll-error">
                {{#if @blog.icon}}
                    <img  class="status-img" src="{{@blog.icon}}" alt="{{@blog.title}}" />
                {{else}}
                    <img class="status-img" src="http://pcqg5j51d.bkt.clouddn.com/20180731220789/logoblue.png" alt="" srcset="">
                {{/if}}
                貌似出错了，点下首页或者刷新试试？
            </p>
        </div>
    </div>
</main>